body {
  margin: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #d86f92;/*main background*/
}

.topnav a {
  /*for  defining the class of topnav a */
  float: left;
 /*which side it will be locating of its container*/
  display: block;
 /*do not allow other block element into it*/
  color: black;
  background-color:palevioletred; /*left button and right button*/
  /*it specifices the color of the class*/
  text-align: center;
  /*algin the text in center*/
  padding: 14px 16px;
  /*it provide specific space to the block*/
  text-decoration: none;
  /*gives decoration to text*/
  font-size: 23px;
  /*specifies the size of a fontn or text*/
}

.topnav a:hover {
  background-color: pink; /*background color*/


  color: black; /*font color*/
  
}

/*slide tab gallery*/

* {
box-sizing: border-box;
}

body {
margin: 0;
font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */
.column {
float: left;
width: 14%;
padding: 02px;
}

/* Style the images inside the grid */
.column img {
opacity: 0.8; 
cursor: pointer; 
position: relative;
}

.column img:hover {
opacity: 1;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* The expanding image container */
.container {
position:relative;
margin-left: 20%;
margin-right: 20%;
display: none;
}

/* Expanding image text */
#imgtext {
position: relative;
bottom: 15px;
left: 15px;
color: white;
font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtntb {
position: absolute;
top: 10px;
right: 15px;
color: white;
font-size: 35px;
cursor: pointer;
}



.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin:  2px;
background-color: pink; /*background color*/
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: palevioletred;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 100px}
}

.topnav a.active {
  background-color:pink;
  color: black; /*font color*/
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right; /* assign position*/ 
    display: block;
    font-size: 50px;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

body {
  font-family: "Lato", sans-serif;
  text-align: center; /*text align in centre */
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  background-color:palevioletred; /*left button and right button*/

  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px; /*assign boundary*/
  text-decoration: none;
  font-size: 25px;
  color: black; /*font color*/
  
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1; /*font color*/
  background-color: palevioletred;
}

.sidenav .closebtn {
  position: absolute;
  background-color: pink;/*main background*/
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
 
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  font-size: 14px;
}


body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}



/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

{
  height: 100%;
  margin: 0;
}


/*font style*/
body {
  font-family: 'Germania One';font-size: 22px;
}

/*font color*/
h1 {
  color: darkred;
}
h3 {
  color: darkred;
}
/*background*/
body  {
  background-image: url("https://media.istockphoto.com/photos/abstract-blurred-soft-bright-cream-color-panoramic-background-with-picture-id1083655792?k=6&m=1083655792&s=170667a&w=0&h=tb8mTdNe5zaNGIptfvqOKyP970jrSYtVSluTqYDgkxs=");
  background-repeat: repeat;
  background-attachment: fixed;
  
}



/*modal image for textile*/

body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}


/*light box home page*/
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.rowli > .columnli {
  padding: 8px;
}

.rowli:after {
  content: "";
  display: table;
  clear: both;
}

.columnli {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modalli {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modalli-contentli {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.closeli {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.closeli:hover,
.closeli:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlidesli {
  display: none;
}

.cursorli {
  cursor: pointer;
}

/* Next & previous buttons */
.prevli,
.nextli {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.nextli {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertextli {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-containerli {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demoli {
  opacity: 0.6;
}

.activeli,
.demoli:hover {
  opacity: 1;
}

img.hover-shadowli {
  transition: 0.3s;
}

.hover-shadowli:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*font style 2*/
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');




 /*form*/
 body {font-family: Arial, Helvetica, sans-serif; }
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: black;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 150px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid black;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 250px;
  padding: 10px;
  background-color: pink;
}

/* Full-width input fields */
.form-container input[type=text]{
  width: 100%;
  padding: 1image.png5px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.form-container input[type=password]{
width: 200%;
padding: 45px;
margin: 5px 0 22px 0;
border: none;
background: #f1f1f1;
}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: darkgreen;
  color: white;
  padding: 10px 20px;
  border: 5px;
  margin-top: 8px;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .back1 {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}